%dark-theme {
    color: $gray-text;
    background-color: $gray-background
}

%darker {
    color: $darker-text;
    background-color: $darker-background
}

footer {
    text-align: center;
    margin: 10px;
}

// Added cus navbar problems :CCC
.navbar .container-fluid>.navbar-header {
    float: left;
    margin-right: 10px;
  }
  .navbar .navbar-nav {
    float: left;
    margin: 5px;
  }
  .nav>li {
    float: left;
  }

body {
    @extend %dark-theme;
}

p {
    //word-spacing: 2px;
}

h3 {

}

.home-log-table {
    @extend %dark-theme;
}

.jumbotron {
    @extend %darker;
}

.home-main-body {
    font-size: 1.25em;
    text-align: justify;
}