%dark-theme {
    color: $gray-text;
    background-color: $gray-background
}

%darker {
    color: $darker-text;
    background-color: $darker-background
}

body {
    @extend %dark-theme;
}

p {
    //word-spacing: 2px;
}

h3 {

}

.log-table {
    @extend %dark-theme;
}

.jumbotron {
    @extend %darker;
}

.main-body {
    font-size: 1.25em;
    text-align: justify;
}